<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.mapper.CustomerMapper">

    <update id="update">
        update customer
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="phone != null and phone !=''">
                phone = #{phone},
            </if>
            <if test="address != null and address !=''">
                address = #{address},
            </if>
            <if test="wechat != null and wechat !=''">
                wechat = #{wechat},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.erp.entity.Customer">
        select * from customer
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY id
    </select>
</mapper>