<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.mapper.DailyReportMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into daily_report (dept_id, delivery_date, total_amount, create_time, update_time)
        values (#{deptId}, #{deliveryDate}, #{totalAmount}, #{createTime}, #{updateTime})
    </insert>
    <update id="update">
        update daily_report
        <set>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deliveryDate != null">delivery_date = #{deliveryDate},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <select id="selectPage" resultType="com.erp.entity.DailyReport">
        select *
        from daily_report
        <where>
            <if test="deptId != null">
                and dept_id = #{deptId}
            </if>
            <if test="startDate != null">
                and delivery_date >= #{startDate}
            </if>
            <if test="endDate != null">
                and delivery_date &lt;= #{endDate}
            </if>
        </where>
        order by delivery_date desc
    </select>

    <select id="selectTurnoverByDateRange" resultType="com.erp.entity.DailyReport">
        select delivery_date, total_amount
        from daily_report
        where delivery_date between #{startDate} and #{endDate}
        <if test ="deptId != null">
            and dept_id = #{deptId}
        </if>
        order by delivery_date asc
    </select>
</mapper>