<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.mapper.OrderDetailMapper">

    <insert id="insertBatch" parameterType="list">
        insert into sale_order_detail(order_id, product_id, quantity, unit_price, total_price, create_time, update_time)
        values
            <foreach collection="list" item="item" separator=",">
                (#{item.orderId}, #{item.productId}, #{item.quantity}, #{item.unitPrice}, #{item.totalPrice},#{item.createTime}, #{item.updateTime})
            </foreach>
    </insert>

    <select id="selectItemsByOrderId" resultType="com.erp.vo.OrderItemVO">
        SELECT
            d.product_id AS productId,
            d.quantity,
            d.unit_price AS unitPrice,
            d.total_price AS totalPrice,
            p.name AS productName
        FROM sale_order_detail d
                 LEFT JOIN product p ON d.product_id = p.id
        WHERE d.order_id = #{orderId}
    </select>
</mapper>